* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #6b8ad7;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

#price {
  text-align: center;
}

#quastions-container {
  text-align: center;
}

.answears-container {
  width: 800px;
  max-width: 80%;
  background-color: rgb(117, 230, 230);
  border-radius: 2%;
  padding: 50px;
  align-items: center;
  box-shadow: 0 0 10px 2px; //shadow
}

.button {
  // color: black;
  // font-size: 30px;
  // font-weight: bold;
  // background: lightblue;
  // border-radius: 7%;
  // box-shadow: 0 0 7px 1px; //shadow
  box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:6px;
	border: 6px solid #4e6096;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

.submit {
  display: grid;
  grid-template-columns: auto;
  // color: black;
  // font-size: 40px;
  // font-weight: bold;
  // background: rgb(130, 224, 143);
  // border-radius: 7%;
  // box-shadow: 0 0 10px 2px; //shadow

  box-shadow:inset 0px 1px 37px 20px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:17px;
	border:6px solid #74b807;
	color:#ffffff;
	font-size:28px;
	font-weight:bold;
	padding:21px 65px;
	text-shadow:0px 0px 0px #528009;
}
.next {
  display: grid;
  grid-template-columns: auto;
  // color: black;
  // font-size: 40px;
  // font-weight: bold;
  // background: rgb(130, 224, 143);
  // border-radius: 7%;
  // box-shadow: 0 0 10px 2px; //shadow

  box-shadow:inset 0px 1px 37px 20px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:17px;
	border:6px solid #74b807;
	color:#ffffff;
	font-size:28px;
	font-weight:bold;
	padding:21px 65px;
	text-shadow:0px 0px 0px #528009;
}

#start-button{
  box-shadow:inset 0px 1px 37px 20px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:17px;
	border:6px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-size:28px;
	font-weight:bold;
	padding:21px 65px;
	text-shadow:0px 0px 0px #528009;
}